name: Lint
on: [push, workflow_dispatch]
jobs:
  # no need to set up a matrix for the lint
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: black
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./src ./tests ./docs/source/conf.py"
      - name: flake8
        uses: py-actions/flake8@v1
        with:
          max-line-length: "88"  # match limit set by black
          args: "--extend-ignore E203"
      - name: isort
        uses: isort/isort-action@v1