name: Tests
on: [push, workflow_dispatch]
jobs:
  unittests:
    strategy:
      matrix:
        python-version: [ '3.8', '3.9', '3.10', '3.11']
    runs-on: ubuntu-latest

    name: Unit tests, Python ${{ matrix.python-version }}

    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install packages
        run: python -m pip install .[test]
      - name: Run unittests
        run: python -m pytest tests